/* Without changing anything in the html, add the following styles using advanced selectors


/* Give the header element a background color */
header{
   background-color: aquamarine;
}

/* Center everything in the header and footer */
header, footer {
   text-align: center;
}

/* All text to Helvetica */
body{
   font-family: Helvetica, sans-serif;
}

/* All links default color is gray*/
a{
   color: gray;
}

/* All links on hover color red*/
a:hover{
   color: red;
}

/* All Links visited color black*/
a:visited{
   color: black;
}

/* Footer disclaimer text to be .5 em*/
#disclaimer{
   font-size: .5em;
} 

/* Remove bullet points from header navigation links */
header nav ul{
   list-style-type: none;
}

/* All Post's Comment Links Italicized, Orange and Remove the Underline */
[href = "#comments"] {
   font-style: italic;
   color: orange;
   text-decoration: none;
   
}

/* All Post's Comment Links Show Underline on Hover */
[href = "#comments"]:hover {
   text-decoration: underline;
}

/* All Post's Author's Links Bold and Blue, with no Underline */
main article h3 a {
   text-decoration: none;
   color: blue;
   font-weight: bold;
}

/* Article Paragraph Text should have line height of 200% */
p {
   line-height: 200%;
}

/* The First Letter of each Article be 2em */

article::first-letter {
   font-size: 2em;
}
/* The First Image in every Article should have Rounded Corners*/
article img:first-of-type {
   border-radius: 1.5rem;
}

/* The First Top Cat Section (check the bottom of the HTML file) should have a Golden Background */
aside#top-cats section:nth-child(2) {
   background-color: goldenrod;
}

/* The 2nd Top Cat Section Should have a Silver/gray Background */

aside#top-cats section:nth-child(3) {
   background-color: silver;
}
/* The 3rd-Most Top Cat Should have a Bronze/brown Background
   Note: the HTML for this one is a little odd! This is intentional! */
#top-cats + section{
   background-color: brown;
}

/* Every other Article's Post-Content Background Color to a Light Grey */
.post-content {
   background-color: lightgrey;
}

/* All Top Kitten's Profile Photos Rounded */
aside#top-cats img, #top-cats + section img{
   border-radius: 1.5rem;
}

/* ** BONUS ** */

/* Add a cat emoji before a Cat's Name (in the heading content)*/


/* Top-most Top Cat has a trophy emoji before name */


/* Use Google Fonts to change h1 & h2 fonts to Roboto Slab */
